.dropdown-large-modified {
    padding: 20px !important;
    min-width: 500px !important;

    a {
        display: block;
        color: #212529;
        padding: 5px 0;
        text-decoration: none;
        background-color: transparent;
    }
}