.input-spinner-modified {
    width: 120px !important;
    display: inline-flex !important;
}

.breadcrumb-modified {
    padding: 0 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
    border-radius: 0.37rem !important;
    display: flex !important;

}

.breadcrumb-modified-item {
    color: #212529;
    text-decoration: none !important;
}